{{- if .Values.hardwareProfile.enabled }}
apiVersion: infrastructure.opendatahub.io/v1
kind: HardwareProfile
metadata:
  annotations:
    opendatahub.io/dashboard-feature-visibility: '[]'
    opendatahub.io/disabled: 'false'
    opendatahub.io/display-name: {{ .Values.hardwareProfile.name }}
  name: {{ .Values.hardwareProfile.name }}
  namespace: {{ .Values.hardwareProfile.namespace }}
spec:
  identifiers:
    - defaultCount: {{ .Values.hardwareProfile.cpu.default | quote }}
      displayName: CPU
      identifier: cpu
      maxCount: {{ .Values.hardwareProfile.cpu.max | quote }}
      minCount: {{ .Values.hardwareProfile.cpu.min }}
      resourceType: CPU
    - defaultCount: {{ .Values.hardwareProfile.memory.default }}
      displayName: Memory
      identifier: memory
      maxCount: {{ .Values.hardwareProfile.memory.max }}
      minCount: {{ .Values.hardwareProfile.memory.min }}
      resourceType: Memory
    - defaultCount: {{ .Values.hardwareProfile.gpu.default }}
      displayName: GPU
      identifier: nvidia.com/gpu
      maxCount: {{ .Values.hardwareProfile.gpu.max }}
      minCount: {{ .Values.hardwareProfile.gpu.min }}
      resourceType: Accelerator
{{- end }}
